
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Amaranth|Monoton|Press+Start+2P|Roboto:300');
    body{
        font-family: 'Roboto', sans-serif;
        padding: 0;
    }
    h1{
        font-size: 3em;
        color: white;
        background: #581845;

        padding: 20px;
    }
    p{
        width: 100%;
        text-align: center;
        font-size: 1.5em;
    }
    p img{
        width: 100%;
        display: inline-block;
    }
    </style>
    <h1>Bienvenue!</h1>
    <p>
      La team Madagascar vous remercie d'avoir visiter leur <a href="https://mighty-ocean-19348.herokuapp.com/">site</a>.<br>
      <img src="http://image.noelshack.com/fichiers/2018/19/4/1525989351-en-tete-readme-72png-01.png">
    </p>

  </body>
</html>