<div class="box">
    <h1>Que pensez-vous de nous? </h1>
    <form action="create" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <div class="inputBox">
            <input type="email" name="email" placeholder="Votre email"  class:'form-control' >
        </div>
        <textarea class="message" name="message" placeholder="Votre message" ></textarea>
        <input class:"btn btn-info" type="submit" name="envoyer" value="Envoyer">
    </form>
</div>